<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
 xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.5" id="Bibipecas">
 <access origin="*" />
 <allow-navigation href="*"/>
 <plugin name="cordova-plugin-whitelist" source="npm" />

<allow-navigation href="https://app.bibipecas.com.br/*" />
<allow-navigation href="*" />

  <splash src="splashscreen/load.gif" width="320" height="480"/>
  
 <!-- all platforms -->
  <preference name="fullscreen" value="true" />
<platform name="android" >
  <preference name="orientation" value="portrait" />
</platform>


<platform name="ios">
  <preference name="orientation" value="portrait" />
</platform>


<preference name="android-minSdkVersion"  value="16" />
<preference name="android-targetSdkVersion"  value="26" />



 <preference name="android-installLocation" value="auto" />

    <name>Bibi Peças</name>
    <description>
    Aplicativo desenvolvido por www.bibipecas.com.br
    </description>

    <author href="https://github.com/Rafa-MKR2"
            email="rafaeldocarmo2010@gmail.com">
            Rafael D.Carmo
            </author>

    <content src="index.html" />

 <icon src="img/icone.png" />
 
 
</widget>
